

.hText{
font-family: 'Roboto',sans-serif;
color:#D9A536;
font-size: 30px;

}

@media screen and (max-width:768px) {
  .hText{
    font-size: 18px;
  }
}

.spanText{
font-family: 'Poppins' sans-serif;
font-size: 55px;
font-weight: 600;
text-align: center;
}

@media screen  and (max-width:768px) {
.spanText{
  font-size: 30px;
  font-weight: 400;
  width: 250px;
  text-wrap: wrap;
} 
}

.container{
  height: 90vh;

}

@media screen and (max-width:768px) {
  .container{
    height: 70vh;
    width: 100%;
  }
}

.pText{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  line-height: 29px;
}

@media screen and (max-width:768px) {
  .pText{
    font-size: 13px;
    line-height: 17px;
    width: 400px;
  }
}

.btnAppoinment{
  font-weight: 500;
  font-size: 30px;
  width: 400px;
  height: 78px;
  border: 1px solid #D9A536;
  position: relative;
  top:40px;
  color: white;
  background-color: #D9A536;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width:786px) {
  .btnAppoinment{
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    height: 47px;
  }
}

.btnAppoinment:hover{
  background-color: azure;
  color: black;
}