

.hText{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #D9A536;
  text-align: center;
}

@media screen and (max-width:768px) {
  .hText{
    font-weight: 300;
    font-size: 21px;
    line-height: 33px;  
  }
}

.pText{
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 33px;
  color: white;
  flex-wrap: wrap;
  width: 530px;
}

@media screen and (max-width:768px) {
  .pText{
    font-weight: 200;
    font-size: 10px;
    line-height: 18px;
    width: 300px;
  }
}

.input1{
  margin-top: 40px;
  background-color:  #151515;
}

@media screen and (max-width:768px) {
  .input1{
    position: relative;
    left: 50px;
  }
}

.inputIn{
  background-color:  #151515;
  border: 1px solid gray;
  width: 270px;
  height: 64px;
  margin: 15px;
  padding: 5px;
  font-weight: 300;
} 

@media screen and (max-width:768px) {
  .inputIn{
    width: 160px;
    height: 32px;
    margin: 6px;
  }
}

.btnAppoinment{
  font-weight: 500;
  font-size: 30px;
  width: 450px;
  height: 97px;
  border: 1px solid black;
  position: relative;
  top:70px;
  color: white;
  background-color: #CCA34C;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .btnAppoinment{
    font-size: 17px;
    width: 210px;
    height: 51px;
    position: relative;
    top: 20px;
  }
}

.btnAppoinment:hover{
  background-color: #FFD700;
  border: 1px solid white;
}

@media screen and (max-width:768px) {
  .container{
    width: 100%;
    margin: 0px;
    margin-top: 400px;
    background-color: #151515;

  }
}