

.hText1{
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #D9A536;
  
}

@media screen and (max-width:768px) {
  .pText{
    width: 300px;
    text-wrap: wrap;
  }
}

@media screen and (max-width:768px) {
  .hText1{
    font-size: 21px;
    font-weight: 200;
    line-height: 23px;

  }
}

.hText2{
  font-family: 'Poppins',sans-serif;
  font-size: 55px;
  font-weight: 600;
  line-height: 82px;
  color: white;
}

@media screen and (max-width:768px) {
  .hText2{
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
  }
}

.linecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; 
}

.line {
  flex-grow: 1;
  height: 2px; 
  width: 160px;
  background-color: #d4a448; 
}

@media screen and (max-width:768px) {
  .line{
    width: 120px;
  }
}

.container{
  width: 600px;
}



