
.container{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
margin-top: 140px;

}

.spanText{
font-weight: 600;
font-family:'Poppins',sans-serif;
font-size: 4rem;
line-height: 105px;
color: white;
}

@media screen and (max-width:768px) {
  .spanText{
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
  }
}

.hText{
font-family: 'Roboto',sans-serif;
size: 50px;
color: white;
text-wrap: wrap;
width: 800px;
font-size: 30px;
display: flex;
text-align: center;
}

@media screen and (max-width:768px) {
  .hText{
    font-size: 18px;
    text-align: center;
    width: 250px;
    text-wrap: wrap;
  }
}

.btnAppoinment{
  font-weight: 500;
  font-size: 30px;
  width: 450px;
  height: 97px;
  border: 1px solid black;
  position: relative;
  top:70px;
  color: white;
  background-color: #CCA34C;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .btnAppoinment{
    font-weight: 300;
    font-size: 14px;
    width: 200px;
    height: 82px;
    cursor: pointer;
  }
}

.btnAppoinment:hover{
  background-color: #FFD700;
  border: 1px solid white;
}
